/*======== Configurações Gerais =======*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-body: hsl(225, 4%, 39%);
  --bg-portifolio: hsl(180, 2%, 11%);
  --bg-portifolio2: hsl(0, 0%, 8%);

  font-size: 62.5%;
}

body {
  
  font-family: 'Poppins', sans-serif;

  background: var(--bg-body);
  
  width: 32rem;
  margin: 0 auto;

}

ul li {
  list-style: none;
}

.container{
  width: 32rem;
  background: var(--bg-portifolio2);
}

svg path {
  fill: #FFFFFF;
}

h2{
  font-size: 2.4rem;
  color: #FFFFFF;
  margin: 5rem 3rem 3rem;
}




/*======= Profile =======*/

/*-------- Nav ----------*/

.headerNav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerNav nav{
  display: flex;
}

.logoSimple img{
  width: 6rem;
  padding: 8px 0 8px 8px;
}

nav{
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
}

/* ----------- Photo ------------*/

.profilePhoto{
  position: relative;
}

#profilePhoto{
  width: 32rem;
}

#nameFunction{
  position: absolute;
  bottom: 2rem;
  left: 18%;
  width: 20rem;
}

/*------------ About -----------*/

h4{
  color: #fd731e;
  font-size: 1.39rem;
  margin: 0 3rem;
}

h4 span{
  color: var(--bg-body);
  font-style: italic;
  font-size: 1.4rem;
}

p{
  color: #FFFFFF;
  margin: 3rem 3rem 8rem;
}


/*======= Skills =======*/


/*-------- containerSkills -------*/

/*------------ HardSkills ---------*/





/*============= Footer ============*/
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  width: 20rem;
  display: flex;
}

.social h2{
  display: flex;
}

.footerEnd p{
  text-align: center;
  padding: 6rem;

}